.nav-item {
  margin-right: 1em;
  display:flex;
}

.navbar-text {
  margin:auto;
}

.buttons {
  margin-top: 1em;
}

.question {
  margin-top: 1em;
  margin-bottom: 1em;
}

#brand {
  color: white;
  text-decoration: none;
}

#brand:hover {
  color: white;
  text-decoration: none;
}

.questionBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.questionContent {
  width: 100%;
}

.view-poll:hover {
  text-decoration: none;
}

.scores {
  text-align: center;
}

.scores > p {
  font-size: 1.5em;
}
