.greetings {
  margin-right: 1em;
  display:flex;
}

.navbar-text {
  margin:auto;
}

.buttons {
  margin-top: 1em;
}

#brand {
  color: white;
  text-decoration: none;
}

#brand:hover {
  color: white;
  text-decoration: none;
}

.general-card {
  margin-top: 1em;
  margin-bottom: 1em;
}

.general-card-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.questionContent {
  width: 100%;
}

.view-poll:hover {
  text-decoration: none;
}

.scores {
  text-align: center;
  margin-left: 1em;
}

.scores > p {
  font-size: 1.5em;
  font-weight: bold;
}

#or {
  text-align: center;
  font-weight: bold;
}

#new-question-header{
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

#login {
  width: 30em;
  margin: 1em auto;
}

.avatar {
  width: 25%;
  height: 25%;
  margin-right: 20px;
  top: 50%;
}

#spinner {
  text-align: center;
}